language: php
php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm
install:
    - make install
before_script:
    - phpenv rehash
script: make test
after_script:
    - vendor/bin/coveralls -v
matrix:
    allow_failures:
        - php: hhvm
env:
    global:
        - COMPOSER_PREFER_SOURCE=--prefer-source