language: php
sudo: false
php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
cache:
  directories:
    - $HOME/.composer/cache
before_install:
  - travis_retry composer self-update
install:
  - travis_retry composer update --no-interaction --prefer-source
script:
  - composer test