<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	backupGlobals="true"
	backupStaticAttributes="false"
	bootstrap="bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	strict="true"
	verbose="true">
	
	<testsuites>
		<testsuite name="My Test Suite">
			<file>tests/ClientTest.php</file>
			<!--<file>tests/PhpMailerTest.php</file>//-->
			<file>tests/ServerTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>